body {
    font-family: Open sans;
}

/*jumbotron*/
#jumbotron {
    background-image: url(src/assets/img/jumbotron.jpg);
    background-position: top;
    background-size: cover;
    height: 25rem;

}

/* buttons */
#btn-load-more {
    margin: auto;
    display: block;
}

/*header*/
#main-logo img {
    width: 3rem;
}

#navbar ul li a {
    text-decoration: none;
    color: inherit;
}

#navbar ul li.active {
    border-bottom: 4px solid blue;
}


/* comic */
#comic-list {
    position: relative;
}

#title-series {
    position: relative;
    top: -20px;
    left: 20%;
}

.comics-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.my-bg-black {
    background-color: black;
}

.comic-card img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    aspect-ratio: 1;
    border-radius: .5rem;
}

/* CARD */

.comic-card img:hover {
    border: 2px solid white;
}

.comic-card {
    width: 10rem;
    margin: 1rem .7rem;
}

.comic-card h3,
#navbar ul li {
    font-size: .75em;
}

/*LINKBAR*/
#links-bar {
    height: 100px;
    background-color: rgb(0, 132, 255);
}

/*FOOTER*/
#main-footer {
    height: 250px;
    background-image: url(assets/img/footer-bg.jpg);
}

#footer-bottom {
    height: 80px;
    background-color: gray;
}